html, body {
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    
    margin: 0;
    padding: 0;

    background-color: black;
    color: white;
}

#perlin {
    background-color: black;
    position: absolute;
    top:10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    
    margin: 0;
    padding: 0;
}

canvas {
    border: 1px solid white;
}